
body{
    font-family: Tahoma;
    font-size: 18 px;
    color: rebeccapurple;
    background-color: mediumpurple;
    line-height: 1.5;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 200px;
    width: 300px;
}

.sencent{
    text-align: center;
}

